.hero {
  &__wrap {
    position: relative;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;



    @media (min-width: $mobile-width + 1) and (max-width: $tablet-width)  {
      background-size: cover;
      min-height: 748px;
    }
    @media (max-width: $mobile-width){
      background-size: 575px auto;
      background-position-y: 0;
      min-height: 558px;
    }
  }
  position: relative;
  background: #f9f9f9;
  width: 100%;

  &:after {
    position: absolute;
    @include png-sprite($icon-hero-bottom);
    content: "";
    width: 100%;
    bottom: -10px;
    background-repeat: repeat-x;
    background-position-x: 50%;


    @media (max-width: $tablet-width)  {
      position: absolute;
      @include png-sprite($icon-hero-bottom);
      content: "";
      width: 100%;
      bottom: -10px;
      background-repeat: repeat-x;
      background-position-x: 50%;
    }
    @media (max-width: $mobile-width){
      width: 0;
    }
  }


  & h1 {
    margin: 0;
    padding: 0;
    font-size: 53px;
    font-family: "OpenSansBold", sans-serif;
    text-align: center;
    padding-top: 100px;
    line-height: 57px;

    @media (min-width: $mobile-width + 1) and (max-width: $tablet-width) {
      font-size: 43px;
      width: 100%;
      padding-top: 164px;

    }
    @media (max-width: $mobile-width) {
      font-size: 27px;
      width: 260px;
      align-self: center;
      padding-top: 75px;
      line-height: 30px;
    }
  }



  &__list {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 1050px;
    list-style: none;
    display: flex;
    flex-direction: row;


    @media (min-width: $mobile-width + 1) and (max-width: $tablet-width) {
        display: flex;
      width: 668px;
        flex-direction: row;
    }
    @media (max-width: $mobile-width){
      display: flex;
      width: 100%;
      flex-direction: column;
    }

  }

  &__items {
    position: relative;
    width: 50%;
    height: inherit;
    display: flex;
    flex-direction: row;
    min-height: 119px;

    &--left-card {
      background: #63d1bb;

      &:hover {
        transform: translateY(-10px);
        transition: 0.3s;

        @media (min-width: $mobile-width + 1) and (max-width: $tablet-width) {
          transform: translateY(-10px);
          transition: 0.3s;
        }
        @media (max-width: $mobile-width){
          transform: none;
        }
      }

    }

    &--right-card {
      background: #56c3b2;

      &:hover {
        transform: translateY(-9px);
        transition: 0.3s;

        @media (min-width: $mobile-width + 1) and (max-width: $tablet-width) {
          transform: translateY(-10px);
          transition: 0.3s;
        }
        @media (max-width: $mobile-width){
          transform: none;
        }
      }


    }

    @media (min-width: $mobile-width + 1) and (max-width: $tablet-width) {
      width: 50%;
    }
    @media (max-width: $mobile-width){
      width: 100%;
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-family: "OpenSansBold", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 34px;
    padding-left: 37px;
    padding-right: 30%;
    line-height: 30px;

    &--interior {
      &:after {
        position: absolute;
        @include png-sprite($icon-interrier);
        content: "";
        right: 36px;
        opacity: 0.5;
      }
    }

    &--toy {
      &:after {
        position: absolute;
        @include png-sprite($icon-toy);
        content: "";
        right: 36px;
        opacity: 0.5;
      }
    }

    &:hover:after {
      opacity: 1;
      transition: 0.2s;
    }

    &:active:after {
      opacity: 0.3;
      transition: 0s;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    @media (max-width: $mobile-width){
      padding-right: 18%;
    }
  }
}
