.main-nav__list {
  padding: 0;
  margin: 0;
  order: 3;
  list-style: none;

}

@media (min-width: 768px){
  .main-nav__list {
    order: 0;
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1150px){
  .main-nav__list {
    height: 100%;
  }
}