.product {
  position: relative;
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  padding-top: 210px;
  padding-bottom: 80px;
  justify-content: center;

  @include tablet {
    padding-top: 57px;
  }

  @include mobile {
    padding: 0;
    padding-bottom: 36px;
  }

  &:after {
    position: absolute;
    @include png-sprite($icon-product-bottom);
    content: "";
    width: 1050px;
    bottom: 0;
    background-repeat: repeat-x;

    @include tablet {
      width: 100%;
    }

    @include mobile {
      width: 100%;
      @include png-sprite($icon-product-mobile);
      background-repeat: repeat-x;
    }
  }

  &__wrapper {
    width: 1050px;

    @include tablet {
      width: 668px;
    }

    @include mobile {
      width: 260px;
    }
  }

  &__top-week {
    display: flex;
    flex-direction: row;
    margin: -100px 0;

    @include tablet {
      margin: 0;
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    @include mobile {
      flex-direction: column-reverse;
      margin: 0;
      margin-top: 34px;
      margin-bottom: 30px;
    }

    & h1 {
      padding: 0;
      margin: 0;
      font-family: "OpenSansBold", sans-serif;
      font-size: 53px;
      min-width: 530px;
      z-index: 2;

      @include tablet {
        font-size: 43px;
        width: 100%;
      }
      @include mobile {
        font-size: 25px;
        min-width: auto;
      }
    }

    & span {
      font-family: "OpenSansBold", sans-serif;
      font-size: 15px;
      color: #63d1bb;
      text-transform: uppercase;
      text-align: center;
      align-self: center;
      padding-left: 47px;
      padding-right: 58px;

      @include tablet {
        padding-left: 0;
        padding-bottom: 60px;
      }

      @include mobile {
        padding: 0;
        font-size: 17px;
        align-self: flex-start;
        padding-top: 10px;

        br {
          display: none;
        }
      }
    }
  }

  &__detail {
    display: flex;
    flex-direction: row;
    height: 636px;

    @include tablet {
      height: auto;
    }

    @include mobile {
      flex-direction: column-reverse;
      width: 260px;
      height: 100%;
    }
  }

  &__offer {
    width: 50%;
    padding-left: 175px;
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    @include tablet {
      padding-left: 0;
    }

    @include mobile {
      padding-left: 0;
      width: 100%;
    }
  }

  &__description {
    font-family: "OpenSansRegular", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 17px;
    width: 292px;
    margin-top: 32px;
    margin-bottom: 67px;
    line-height: 30px;

    @include tablet {
      margin-top: 0;
      margin-bottom: 55px;
    }
    @include mobile {
      font-size: 15px;
      width: 260px;

      margin: 30px 0;
    }
  }

  &__advantages {
    display: flex;
    flex-direction: column;

    &-item:first-child {
      padding-top: 0;
    }

    &-item {
      display: flex;
      flex-direction: row;
      width: 292px;
      border-bottom: 1px solid #e7e7e7;
      padding: 12px 0;
      justify-content: space-between;

      @include mobile {
        width: 260px;
      }
    }
  }

  &__price {
    font-family: "OpenSansBold", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 292px;
    text-align: center;
    padding-top: 112px;
    margin-bottom: 34px;

    @include tablet {
      padding-top: 37px;
    }

    @include mobile {
      font-size: 17px;
      width: auto;
      margin: 0;
      padding: 30px 0;
    }
  }

  &__advantages-name {
    font-family: "OpenSansRegular", sans-serif;
    font-size: 15px;
  }

  &__advantages-value {
    font-family: "OpenSansRegular", sans-serif;
    font-size: 15px;
  }

  &__form {
    width: 292px;

    @include mobile {
      width: auto;
    }
  }

  &__btn {
    font-family: "OpenSansBold", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    padding: 16px 97px;
    background: #ffffff;
    border: 2px solid #444444;
    transition: 0.3s;

    @include mobile {
      padding: 16px 84px;
    }
  }

  &__img {
    width: 50%;

    & img {
      @include tablet {
        width: 334px;
        height: 404px;
      }

      @include mobile {
        width: 260px;
        height: 100%;
      }
    }

    @include mobile {
      width: 100%;
    }
  }
}