@media (min-width: 768px){
  .site-list__positioner {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1150px){
  .site-list__positioner li:nth-child(1) a {
    border-right: 1px solid #e7e7e7;
  }
  .site-list__positioner li:nth-child(2) a {
    padding-left: 35px;
    padding-right: 0;
  }
}