.site-list__item--simple-wrap {
  display: none;
}
@media (min-width: 768px){
  .site-list__item--simple-wrap {
    display: none;
  }
}

@media (min-width: 1150px){
  .site-list__item--simple-wrap {
    display: flex;

    & a {
      font-family: "OpenSansBold", sans-serif;
    }

    & li:nth-child(1) a {
      padding-left: 0;
    }
  }
}