body {
  transition: 0.3s;

  h1, h2, h3, h4, h5, p, ul, li {
    padding: 0;
    margin: 0;
  }

  ul {
    list-style: none;
  }


  & a {
    text-decoration: none;
    color: #444444;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.bg-f1f1f1{
  background: #f1f1f1;
}

.hidden {
  display: none !important;
}

.btn {
  font-family: "OpenSansBold", sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  padding: 16px 97px;
  background: #ffffff;
  border: 2px solid #444444;
  transition: 0.3s;

  &:hover {
    background: #444444;
    border: 2px solid #444444;
    color: #ffffff;
    transition: 0.3s;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    transition: 0s;
  }
}

.container {
  margin: 0 auto;
  max-width: 1050px;

  @media (min-width: $mobile-width + 1) and (max-width: $tablet-width) {
    padding: 0 40px;
  }

  @media (max-width: $mobile-width) {
    max-width: 260px;
  }
}

