.footer {
  background: #f1f1f1;

  @include mobile {
   min-height: 160px;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  @include mobile{
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    font-size: 0;
    align-items: center;
    width: 140px;

    @include mobile {
     width: 100%;
    }
  }

  &__link--logo {
    font-size: 0;
    line-height: 0;
    @include png-sprite($icon-footer-logo);

    &:hover{
      @include png-sprite($icon-logo-footer-hover);
    }

    &:active{
      @include png-sprite($icon-logo-footer-hover);
      opacity: 0.3;
      transition: 0s;
    }

    @include mobile {
      display: none;
    }
  }

  &__social-link {
    position: relative;
    content: "";
    text-decoration: none;
    color: #000;
    padding: 60px 40px;

    @include mobile {
      padding: 40px 40px;
     border-bottom: 1px solid #e7e7e7;
    }

    &--instagram,
    &--facebook,
    &--twitter {

      &:before {
        position: absolute;
        content: "";
        transform: translate(-50%, -50%);
      }
    }

    &--instagram {
      &:before {
        @include png-sprite($icon-inst);
      }

      &:hover:before{
        @include png-sprite($icon-inst-hover);
      }
    }

    &--facebook {
      &:before {
        @include png-sprite($icon-facebook);
      }

      &:hover:before{
        @include png-sprite($icon-facebook-hover);
      }
    }

    &--twitter {
      &:before {
        @include png-sprite($icon-twitter);
      }

      &:hover:before{
        @include png-sprite($icon-twitter-hover);
      }
    }
  }


  &__developer {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-right: 58px;

    font-size: 19px;
    font-family: "OpenSansBold", sans-serif;

    @include mobile {
      margin: 40px 0;
    }

    & a {
      position: absolute;
      @include png-sprite($icon-logo-html);
      content: "";
      right: 0;
      font-size: 0;
    }
  }
}
