$icon-cart: 235px 46px -235px -46px 21px 18px 262px 144px 'sprite.png';
$icon-mishka-desktop: 0px 0px 0px 0px 149px 72px 262px 144px 'sprite.png';
$icon-mishka-phone: 149px 46px -149px -46px 86px 35px 262px 144px 'sprite.png';
$icon-mishka-tablet: 149px 0px -149px 0px 113px 46px 262px 144px 'sprite.png';
$icon-mishka: 0px 72px 0px -72px 149px 72px 262px 144px 'sprite.png';
$icon-search: 149px 81px -149px -81px 18px 19px 262px 144px 'sprite.png';
