$icon-arrow-slider: 513px 63px -513px -63px 50px 26px 1250px 306px 'sprite.png';
$icon-ball-of-thread: 73px 210px -73px -210px 35px 34px 1250px 306px 'sprite.png';
$icon-cart-hover: 1182px 34px -1182px -34px 21px 18px 1250px 306px 'sprite.png';
$icon-cart: 1203px 34px -1203px -34px 21px 18px 1250px 306px 'sprite.png';
$icon-facebook: 141px 210px -141px -210px 15px 29px 1250px 306px 'sprite.png';
$icon-flag: 0px 129px 0px -129px 47px 81px 1250px 306px 'sprite.png';
$icon-flower: 40px 210px -40px -210px 33px 38px 1250px 306px 'sprite.png';
$icon-footer-logo: 411px 57px -411px -57px 102px 34px 1250px 306px 'sprite.png';
$icon-hero-bottom-repeat-x-mobile: 832px 57px -832px -57px 15px 6px 1250px 306px 'sprite.png';
$icon-hero-bottom-repeat-x: 1105px 34px -1105px -34px 53px 23px 1250px 306px 'sprite.png';
$icon-hero-bottom: 0px 0px 0px 0px 1250px 34px 1250px 306px 'sprite.png';
$icon-inst: 563px 63px -563px -63px 22px 21px 1250px 306px 'sprite.png';
$icon-interrier: 0px 210px 0px -210px 40px 62px 1250px 306px 'sprite.png';
$icon-like: 240px 129px -240px -129px 34px 27px 1250px 306px 'sprite.png';
$icon-logo-html: 0px 272px 0px -272px 27px 34px 1250px 306px 'sprite.png';
$icon-mishka-desktop: 0px 57px 0px -57px 149px 72px 1250px 306px 'sprite.png';
$icon-mishka-phone: 107px 129px -107px -129px 86px 35px 1250px 306px 'sprite.png';
$icon-mishka-tablet: 298px 57px -298px -57px 113px 46px 1250px 306px 'sprite.png';
$icon-mishka: 149px 57px -149px -57px 149px 72px 1250px 306px 'sprite.png';
$icon-money: 193px 129px -193px -129px 47px 27px 1250px 306px 'sprite.png';
$icon-product-bottom: 0px 34px 0px -34px 1050px 23px 1250px 306px 'sprite.png';
$icon-product-mobile: 513px 57px -513px -57px 319px 6px 1250px 306px 'sprite.png';
$icon-rocket: 1050px 34px -1050px -34px 55px 23px 1250px 306px 'sprite.png';
$icon-search-hover: 1224px 34px -1224px -34px 18px 18px 1250px 306px 'sprite.png';
$icon-search: 585px 63px -585px -63px 18px 19px 1250px 306px 'sprite.png';
$icon-surprise: 108px 210px -108px -210px 33px 32px 1250px 306px 'sprite.png';
$icon-toy: 47px 129px -47px -129px 60px 60px 1250px 306px 'sprite.png';
$icon-twitter: 1158px 34px -1158px -34px 24px 20px 1250px 306px 'sprite.png';
