$icon-cart: 0px 72px 0px -72px 21px 18px 149px 109px 'sprite.png';
$icon-mishka: 0px 0px 0px 0px 149px 72px 149px 109px 'sprite.png';
$icon-search: 0px 90px 0px -90px 18px 19px 149px 109px 'sprite.png';
