<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Mishka</title>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div class="wrapper">
	<header>
		<nav class="navigation navigation--closed navigation--nojs">
			<button class="navigation__toggle" type="button">
				<span class="visually-hidden">Открыть меню</span>
			</button>
			<div class="container">
				<div class="navigation__wrapper">
					<div class="navigation__group hide-tablet">
						<a href="#"
						   class="navigation__link navigation__link--mobile navigation__link--pr-35 navigation__link--br">Каталог
							товаров</a>
						<a href="form.html" class="navigation__link navigation__link--mobile navigation__link--pl-35">Вязание на
							заказ</a>
					</div>
					<a href="/" class="navigation__link navigation__link--logo">Логотип</a>
					<div class="navigation__group">
						<a href="#" class="navigation__link navigation__link--mobile navigation__link--search">Поиск по
							сайту</a>
						<a href="#" class="navigation__link navigation__link--mobile navigation__link--basket">Корзина:
							<span>пока пуста</span></a>
					</div>
				</div>
			</div>
		</nav>
		<div class="sub-navigation__wrapper--f1f1f1">
			<div class="container">
				<nav class="sub-navigation">
					<a href="#" class="sub-navigation__link show-tablet sub-navigation__link--pr-60">Каталог товаров</a>
					<a href="form.html" class="sub-navigation__link show-tablet">Вязание на заказ</a>
					<a href="#" class="sub-navigation__link sub-navigation__link--pr-60 hide-tablet">Новые
						постулпения</a>
					<a href="#" class="sub-navigation__link hide-tablet">Распродажа</a>
					<span class="sub-navigation__info">Бесплатная доставка по России</span>
				</nav>
			</div>
		</div>
	</header>
	<section class="catalog">
		<div class="container">
			<h2>Каталог товаров</h2>
		</div>
		<div class="catalog__content">
			<div class="container">
				<div class="catalog__catalog-product">
					<ul class="catalog__list">
						<li class="catalog__item">
							<a href="#" class="catalog__item-link">
								<picture>
									<source media="(min-width: 768px) and (max-width: 1150px)"
											srcset="images/catalog-tablet-item1.jpg">
									<source media="(max-width: 768px)"
											srcset="images/catalog-mobile-item1.jpg">
									<img src="images/catalog-item1.jpg" alt="зайчик">
								</picture>

								<div class="catalog__price-product">
									<div class="catalog__price-product--wrap">
										<h3>Зайчик-попрыгайчик</h3>
										<span class="catalog__value">Рост 30 см, вес 200 г</span>
									</div>
									<span class="catalog__price">1200 руб.</span>
								</div>
							</a>
						</li>
						<li class="catalog__item">
							<a href="#" class="catalog__item-link">
								<picture>
									<source media="(min-width: 768px) and (max-width: 1150px)"
											srcset="images/catalog-tablet-item2.jpg">
									<source media="(max-width: 768px)"
											srcset="images/catalog-mobile-item2.jpg">
									<img src="images/catalog-item2.jpg" alt="зайчик">
								</picture>
								<div class="catalog__price-product">
									<div class="catalog__price-product--wrap">
										<h3>Корзинка для белья</h3>
										<span class="catalog__value">Рост 30 см, вес 200 г</span>
									</div>
									<span class="catalog__price">1200 руб.</span>
								</div>
							</a>
						</li>
						<li class="catalog__item">
							<a href="#" class="catalog__item-link">
								<picture>
									<source media="(min-width: 768px) and (max-width: 1150px)"
											srcset="images/catalog-tablet-item3.jpg">
									<source media="(max-width: 768px)"
											srcset="images/catalog-mobile-item3.jpg">
									<img src="images/catalog-item3.jpg" alt="зайчик">
								</picture>
								<div class="catalog__price-product">
									<div class="catalog__price-product--wrap">
										<h3>Большая корзинка для игрушек</h3>
										<span class="catalog__value">Рост 30 см, вес 200 г</span>
									</div>
									<span class="catalog__price">1200 руб.</span>
								</div>
							</a>
						</li>
					</ul>

				</div>
				<div class="catalog__video">
					<div class="video-youtube video-youtube__overlay">
						<div id="video-youtube__content"
							 class="video-youtube__content video-youtube__content_hide-origin-play-btn"></div>
						<button type="button" class="video-youtube__new-play-btn"></button>
					</div>
					<div class="catalog__video-description">
						<h4>Процесс производства</h4>
						<p>По просьбам наших любимых фоловерах мы сняли для вас подробное видео о том, как появляются
							наши товары.</p>
						<form class="catalog__form">
							<input class="catalog__btn btn open-modal" type="button" value="сделать заказ">
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="footer__wrap">
				<a href="#" class="footer__link--logo">Логотип</a>
				<div class="footer__item">
					<a class="footer__social-link footer__social-link--instagram" href="#">инстаграм</a>
					<a class="footer__social-link footer__social-link--facebook" href="#">фейсбук</a>
					<a class="footer__social-link footer__social-link--twitter" href="#">твитер</a>
				</div>
				<div class="footer__developer">
					<p>Разрабатано</p><a href="#">htmlacademy</a>
				</div>
			</div>
		</div>
	</footer>
</div>

<div class="modal">
	<div class="modal__wrp">
		<button class="modal__close" type="button" title="Закрыть">закрыть</button>
		<form class="modal__form" action="#" method="post">
			<h2>Добавить в корзину</h2>
			<p>Выберите размер:</p>
			<div class="modal__choice">
				<input type="radio" class="modal__radio" checked="" value="s" name="size" id="size-s">
				<label class="modal__label" for="size-s">S</label>
				<input type="radio" class="modal__radio" value="m" name="size" id="size-m">
				<label class="modal__label" for="size-m">M</label>
				<input type="radio" class="modal__radio" value="l" name="size" id="size-l">
				<label class="modal__label" for="size-l">L</label>
			</div>
			<button class="modal__button btn" type="submit">Добавить</button>
		</form>
	</div>
</div>
<div class="modal__overlay"></div>
<script type="text/javascript" src="/js/libraries.js"></script>
<script type="text/javascript" src="/js/libs/slick.min.js"></script>
<script type="text/javascript" src="/js/modal.js"></script>
<script src="js/js.js"></script>
</body>
</html>
