<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Mishka</title>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
<header class="header">
	<nav class="navigation navigation--closed navigation--nojs">
		<button class="navigation__toggle" type="button">
			<span class="visually-hidden">Открыть меню</span>
		</button>
		<div class="container">
			<div class="navigation__wrapper">
				<div class="navigation__group hide-tablet">
					<a href="#"
					   class="navigation__link navigation__link--mobile navigation__link--pr-35 navigation__link--br">Каталог
						товаров</a>
					<a href="#" class="navigation__link navigation__link--mobile navigation__link--pl-35">Вязание на
						заказ</a>
				</div>
				<a href="#" class="navigation__link navigation__link--logo">Логотип</a>
				<div class="navigation__group">
					<a href="#" class="navigation__link navigation__link--mobile navigation__link--search">Поиск по
						сайту</a>
					<a href="#" class="navigation__link navigation__link--mobile navigation__link--basket">Корзина:
						<span>пока пуста</span></a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<nav class="sub-navigation">
			<a href="#" class="sub-navigation__link show-tablet sub-navigation__link--pr-60">Каталог товаров</a>
			<a href="#" class="sub-navigation__link show-tablet">Вязание на заказ</a>
			<a href="#" class="sub-navigation__link sub-navigation__link--pr-60 hide-tablet">Новые постулпения</a>
			<a href="#" class="sub-navigation__link hide-tablet">Распродажа</a>
			<span class="sub-navigation__info">Бесплатная доставка по России</span>
		</nav>
	</div>
</header>

<section class="main">
	<section class="hero">

		<div class="hero__wrap">
			<div class="container">
				<h1>Милые штуки ручной<br>работы для дома</h1>
			</div>
			<ul class="hero__list">
				<li class="hero__items hero__items--left-card">
					<a href="#" class="hero__link hero__link--interior">Предметы<br>интерьера</a>
				</li>
				<li class="hero__items hero__items--right-card">
					<a href="#" class="hero__link hero__link--toy">Детские<br>игрушки</a>
				</li>
			</ul>
		</div>

	</section>
	<section class="product">
		<div class="container">
			<div class="product__wrapper">
				<div class="product__top-week">
					<span>товар<br> недели</span>
					<h1>Вязаные корзинки</h1>
				</div>
				<div class="product__detail">
					<div class="product__offer">
						<p class="product__description">Экологически чистая пряжа, ручная работа.
							Доступны в шести расцветках и трех размерах.</p>
						<div class="product__advantages">
							<div class="product__advantages-item">
								<div class="product__advantages-name">Цвет:</div>
								<div class="product__advantages-value">"Тиффани"/серый</div>
							</div>
							<div class="product__advantages-item">
								<div class="product__advantages-name">Диаметр:</div>
								<div class="product__advantages-value">25 см</div>
							</div>
							<div class="product__advantages-item">
								<div class="product__advantages-name">Высота</div>
								<div class="product__advantages-value">15 см</div>
							</div>
						</div>
						<p class="product__price">Цена: <span>990 руб.</span></p>
						<form class="product__form">
							<input class="product__btn" type="button" value="заказать">
						</form>
					</div>

					<div class="product__img">
						<img src="images/product-img.jpg" alt="Вязаные корзинки">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about">
		<div class="container">
			<div class="about__wrap">
				<h3>Коротко о нас:</h3>
				<ul class="about__list">
					<li class="about__item about__item--flower">Экологически<br>чистые материалы</li>
					<li class="about__item about__item--ball-of-thread">Связано в ручную с<br>любовью и умилением</li>
					<li class="about__item about__item--money">Скандинавский стиль<br>по российской цене</li>
					<li class="about__item about__item--rocket">Поддержка отечественного<br>производителся</li>
					<li class="about__item about__item--like">Увеличивает лайки<br>на фотографиях</li>
					<li class="about__item about__item--surprise">Поставляется в<br>подарочкой упаковке</li>
				</ul>
			</div>
		</div>
	</section>
</section>
<script src="js/js.js"></script>
</body>
</html>
