<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Mishka</title>
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
<header class="header">

	<div class="header__wrap">
		<nav class="main-nav main-nav--closed main-nav--nojs">
			<button class="main-nav__toggle" type="button">
				<span class="visually-hidden">Открыть меню</span>
			</button>
			<div class="main-nav__list">
				<div class="main-nav__link--hide-tablet">
					<a href="#" class="main-nav__link  main-nav__link--pr main-nav__link--mobile">
						Каталог товаров</a>
					<a href="#"
					   class="main-nav__link main-nav__link--pl main-nav__link--mobile main-nav__link--borderless">
						Вязание на заказ</a>
				</div>
				<a href="#" class="main-nav__link main-nav__link--logo main-nav__link--borderless"></a>
				<div class="main-nav__wrap--basket">
					<a href="#" class="main-nav__link main-nav__link--search main-nav__link--mobile">
						Поиск по сайту</a>
					<a href="#"
					   class="main-nav__link main-nav__link--basket main-nav__link--mobile main-nav__link--borderless">
						Корзина: <span>пока пуста</span></a>
				</div>
				<div class=" main-nav__link--show-tablet">
					<a href="#" class="main-nav__link main-nav__link--borderless">
						Каталог товаров</a>
					<a href="#" class="main-nav__link main-nav__link--borderless">
						Вязание на заказ</a>
				</div>
				<div class="main-nav__nav-bottom">
					<div class="main-nav__nav-bottom--wrap">
						<a href="#"
						   class="main-nav__link main-nav__link--hide-tablet main-nav__link--borderless main-nav__link--pr">
							Новые поступления</a>
						<a href="#" class="main-nav__link main-nav__link--hide-tablet main-nav__link--borderless">
							Распродажа</a>
					</div>
					<a href="#" class="main-nav__link main-nav__link--borderless main-nav__link--fs">
						Бесплатная доставка по России</a>
				</div>
			</div>


		</nav>
	</div>
	<script src="js/js.js"></script>

</header>
<section class="main">
	<section class="hero">
		<div class="hero__wrap">
			<h1>Милые штуки ручной<br>работы для дома</h1>
			<ul class="hero__list">
				<li class="hero__items hero__items--left-card">
					<a href="#" class="hero__link hero__link--interior">Предметы<br>интерьера</a>
				</li>
				<li class="hero__items hero__items--right-card">
					<a href="#" class="hero__link hero__link--toy">Детские<br>игрушки</a>
				</li>
			</ul>
		</div>
	</section>
</section>
<section class="product-detail">
	<div class="product-detail__wrap">
		<div class="product-detail__top-week"></div>
		<div class="product-detail__detail"></div>
		<div class="product-detail__img"></div>
	</div>
</section>
</body>
</html>
